
// Category Filters
// ---------------------------------------+
//

.nav-filter {
	@include clearfix();
	padding: 20px 0;
	width: 100%;

	h2 {
		border-bottom: 1px solid $grey;
		display: block;
		float: left;
		padding: 5px 50px 5px 15px;
		text-transform: uppercase;
	}

	ul {
		display: flex;
		flex-wrap: wrap;

		li {
			display: block;
			width: calc(100% / 6);

			@include breakpoint(mobile) {
				width: 33%;
			}

			a {
				background: none;
				border-bottom: 1px dashed $grey;
				display: block;
				padding: 5px 0;
				position: relative;
				text-align: center;
				transition: all $anim-speed ease-out;

				&:hover,
				&:focus {
					background: $blue;
					color: $white;
				}

				&.active {
					background: $red;
					color: $white;
				}
			}
		}
	}

	&.nav-bottom {
		ul li a {
			border-bottom: none;
			border-top: 1px dashed $grey;
		}
	}
}

// Portfolio
// ---------------------------------------+
//

.portfolio {
	margin: 0 auto;
	min-height: 90vh;
	padding: 0;

	.intro {
		padding: 0 15px;

		@include breakpoint(desktop) {
			padding: 0 15%;
		}
	}

	.portfolio-items {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	// Grid item container
	.item-container {
		align-items: center;
		display: flex;
		height: 0;
		overflow: hidden;
		position: relative;
		padding-top: 25%;
		width: 25%;

		@include breakpoint(mobile) {
			padding-top: 50%;
			width: 50%;
		}

		.item {
			display: block;
			height: 100%;
			left: 0;
			padding: 5%;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.modal-photo-trigger {
			border-radius: 50%;
			display: block;
			height: 100%;
			overflow: hidden;
			position: relative;
			transition: all $anim-speed ease-out;
			width: 100%;

			.item-image {
				background: center center no-repeat;
				background-size: contain;
				border-radius: 50%;
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.item-info {
				background: rgba($blue, 0.8);
				border-radius: 50%;
				display: flex;
				height: 100%;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				transition: all $anim-speed ease-out;
				width: 100%;

				h3 {
					color: $black;
					align-items: center;
					display: flex;
					margin: auto;
					text-align: center;
				}

				p {
					display: none;
				}
			}

			&:hover {
				.item-image {
					filter: grayscale(1);
				}

				.item-info {
					opacity: 1;
				}
			}

			&:focus {
				border: 1px dashed $grey;
			}
		}
	}
}
