
// Portfolio
// ---------------------------------------+
//

.portfolio {
	margin: 0 auto;
	min-height: 80vh;
	padding: 0;

	.intro {
		padding: 0 15px;

		@include breakpoint(desktop) {
			padding: 0 15%;
			text-align: center;
		}
	}

	.portfolio-items {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	// Grid item container
	.item-container {
		align-items: center;
		display: flex;
		height: 0;
		overflow: hidden;
		position: relative;
		padding-top: 25%;
		width: 25%;

		@include breakpoint(mobile) {
			padding-top: 50%;
			width: 50%;
		}

		.item {
			display: block;
			height: 100%;
			left: 0;
			padding: 5%;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.modal-photo-trigger {
			border-radius: 50%;
			display: block;
			height: 100%;
			overflow: hidden;
			position: relative;
			transition: all $anim-speed ease-out;
			width: 100%;

			.item-image {
				background: center center no-repeat;
				background-size: contain;
				border-radius: 50%;
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.item-info {
				background: rgba($blue, 0.8);
				border-radius: 50%;
				display: flex;
				height: 100%;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				transition: all $anim-speed ease-out;
				width: 100%;

				&.no-info {
					background: rgba($blue, 0.5);
				}

				h3 {
					color: $black;
					align-items: center;
					display: flex;
					margin: auto;
					padding: 10px;
					text-align: center;
				}

				p {
					display: none;
				}
			}

			&:hover {
				.item-image {
					filter: grayscale(1);
				}

				.item-info {
					opacity: 1;
				}
			}

			&:focus {
				border: 1px dashed $grey;
			}
		}
	}
}
