
// Portfolio
// ---------------------------------------+
//

.portfolio {
	margin: 0 auto;
	min-height: 80vh;
	padding: 0;

	.intro {
		padding: 0 15px;

		@media (min-width: $desktop-breakpoint-min) {
			padding: 0 15%;
			text-align: center;
		}
	}

	.portfolio-items {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	// Grid item container
	.item-container {
		align-items: center;
		display: flex;
		height: 0;
		margin: auto;
		overflow: hidden;
		padding-top: 24vw;
		position: relative;
		width: 24vw;

		@include breakpoint(desktop-wide) {
			padding-top: 315px;
			width: 315px;
		}

		@include breakpoint(tablet) {
			padding-top: 32vw;
			width: 32vw;
		}

		@include breakpoint(mobile) {
			display: block;
			margin-bottom: 20vw;
			overflow: visible;
			padding-top: 100vw;
			width: 100vw;
		}

		.item {
			display: block;
			height: 100%;
			left: 0;
			padding: 5%;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.modal-photo-trigger {
			border: 1px dashed $grey;
			border-radius: 50%;
			display: block;
			height: 100%;
			overflow: hidden;
			position: relative;
			transition: all $anim-speed ease-out;
			width: 100%;

			@include breakpoint(mobile) {
				border: none;
				border-radius: 0;
				overflow: visible;
			}

			.item-image {
				background: center center no-repeat;
				background-size: cover;
				border-radius: 50%;
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;

				@include breakpoint(mobile) {
					background-size: contain;
					border-radius: 0;
					position: relative;
				}
			}

			.item-info {
				background: rgba($blue, 0.8);
				border-radius: 50%;
				display: flex;
				height: 100%;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				transition: all $anim-speed ease-out;
				width: 100%;

				@include breakpoint(mobile) {
					background: none;
					border-radius: 0;
					bottom: 0;
					display: block;
					height: auto;
					opacity: 1;
					position: relative;
					top: auto;
				}

				&.no-info {
					background: rgba($blue, 0.5);
				}

				h3 {
					align-items: center;
					color: $black;
					display: flex;
					margin: auto;
					padding: 10px;
					text-align: center;

					@include breakpoint(mobile) {
						display: block;
					}
				}

				p {
					display: none;

					@include breakpoint(mobile) {
						color: $black;
						display: block;
						text-align: center;
					}
				}
			}

			&:hover,
			&:focus {
				@media (min-width: $tablet-breakpoint-min) {
					.item-image {
						filter: grayscale(1);
					}

					.item-info {
						opacity: 1;
					}
				}
				@include breakpoint(mobile) {
					border: 1px dashed $grey;
				}
			}
		}
	}
}
