
// Category Filters
// ---------------------------------------+
//

.nav-filter {
	@include clearfix();
	padding: 20px 0;

	h2 {
		border-bottom: 1px solid $grey;
		display: block;
		float: left;
		padding: 5px 50px 5px 15px;
		text-transform: uppercase;
	}

	ul {
		display: block;
		float: left;

		li {
			display: block;
			float: left;

			a {
				background: none;
				border-bottom: 1px solid $grey;
				display: block;
				padding: 5px 25px;
				text-align: center;
				transition: all $anim-speed ease-out;

				&:hover,
				&:focus {
					background: $green;
					color: $white;
				}
			}
		}
	}
}

// Grid Wall
// ---------------------------------------+
//

.grid-wall {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	min-height: 100vh;
	padding: 0;
	position: relative;

	// Grid item container
	.item-container {
		align-items: center;
		display: flex;
		height: 0;
		overflow: hidden;
		position: relative;
		padding-top: 33.333%;
		// transition: all 1s ease-out;
		width: 33.333%;

		@include breakpoint(mobile) {
			padding-top: 50%;
			width: 50%;
		}

		.item {
			display: block;
			height: 100%;
			left: 0;
			padding: 5%;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.modal-photo-trigger {
			background: left center no-repeat;
			background-size: contain;
			border-radius: 50%;
			display: block;
			height: 100%;
			overflow: hidden;
			transition: all $anim-speed ease-out;
			width: 100%;

			.item-info {
				background: rgba($black, 0.6);
				border-radius: 50%;
				display: flex;
				height: 100%;
				opacity: 0;
				transition: all $anim-speed ease-out;
				width: 100%;

				h3 {
					color: $white;
					align-items: center;
					display: flex;
					margin: auto;
					text-align: center;
				}

				p {
					display: none;
				}
			}

			&:hover {
				filter: grayscale(1);

				.item-info {
					opacity: 1;
				}
			}

			&:focus {
				border: 1px solid $green;
			}
		}
	}
}
