
// Close button
// -----------------------------------------------------
//

.modal-close {
	@include hide-text();
	display: block;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	z-index: 1;

	@include breakpoint(mobile) {
		height: 30px;
		width: 30px;
	}

	&:before,
	&:after {
		background: $black;
		content: '';
		display: block;
		height: 100%;
		left: 50%;
		opacity: 1;
		position: absolute;
		top: 0;
		width: 2px;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&:hover,
	&:focus {
		&:before,
		&:after {
			background: $blue;
		}
	}
}

// Modal Window
// ---------------------------------------+
//

#modal-overlay {
	background: rgba($white, 0.8);
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all $anim-speed;
	visibility: hidden;
	width: 100%;
	z-index: 11;

	&.active {
		display: block;
		opacity: 1;
		visibility: visible;
	}
}

// Initially hide content
.modal-content {
	display: none;
	opacity: 0;
	transform: translate3d(0,0,0);
	visibility: hidden;
}

// Default layout
.modal-window {
	backface-visibility: hidden;
	display: block;
	height: 100%;
	left: 50%;
	margin-top: 50px;
	opacity: 0;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all $anim-speed ease-out;
	visibility: hidden;
	width: 100%;
	z-index: 12;

	::selection {
		background: $white;
	}

	&:focus {
		outline: none;
	}

	&.active {
		margin-top: 0;
		opacity: 1;
		visibility: visible;

		.modal-content {
			opacity: 1;
			visibility: visible;
		}
	}

	.modal-content {
		display: block;
		height: 100%;
		opacity: 0;
		overflow-y: auto;
		position: relative;
		transition: all $anim-speed;
		transition-delay: $anim-speed;
		visibility: hidden;
		width: 100%;

		a {
			color: $black;
			font-weight: 500;

			&:hover,
			&:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		.item-image {
			background: center center no-repeat;
			background-size: contain;
			cursor: pointer;
			display: block;
			height: 90%;
			position: absolute;
			top: 5%;
			width: 100%;
		}

		.item-info {
			background: rgba($black, 0.8);
			bottom: 0;
			color: $white;
			display: inline-block;
			min-width: 20%;
			padding: 10px;
			position: absolute;

			@include breakpoint(mobile) {
				width: 100%;
			}

			&.no-info {
				display: none;
			}

			p {
				margin: 0;
			}
		}
	}
}

// About page
// -----------------------------------------------------
//

#modal {
	background: rgba($blue, 0.8);
	border: 1px dashed rgba($white, 0.8);
	height: auto;
	max-height: 90vh;
	max-width: 980px;
	min-height: 30vw;
	overflow-y: auto;
	padding: 20px;
	width: 90vw;

	.modal-close {
		&:before,
		&:after {
			background: $white;
		}

		&:hover,
		&:focus {
			&:before,
			&:after {
				background: $black;
			}
		}
	}
}
