
// Base Typography
// ---------------------------------------+
//
body {
	color: $text-default;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	font-family: $font-family-default;

	@include breakpoint(mobile) {
		font-size: 14px;
	}
}

a {
	color: $blue;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $red;
		outline: none;
	}
}

strong {
	font-weight: 700;
}

h2 {
	color: $white;
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 20px;
	text-transform: uppercase;

	// @include breakpoint(tablet) {
	// 	font-size: 18px;
	// }

	@include breakpoint(mobile) {
		font-size: 24px;
	}
}

h3 {
	font-family: $font-family-light;
	font-size: 24px;
	font-weight: 400;

	@include breakpoint(mobile) {
		font-size: 18px;
	}
}

p {
	margin-bottom: 20px;
}
