
// Base Typography
// ---------------------------------------+
//
body {
	color: $text-default;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	font-family: $font-family-default;

	@include breakpoint(mobile) {
		font-size: 14px;
	}
}

a {
	color: $blue;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $red;
		outline: none;
	}
}

strong {
	font-family: $font-family-bold;
}

h3 {
	font-family: $font-family-light;
	font-size: 24px;
	font-weight: 400;
}

p {
	margin-bottom: 20px;
}
