
// Config Variables
// ---------------------------------------+
//

// Colors
$black                     : #000;
$black-transparent         : rgba($black, 0.6);
$blue                      : #1BD3E3;
$red                       : #F41D07;
$grey                      : #ddd;
$white                     : #fff;
$white-transparent         : rgba($white, 0.6);

$text-default              : $black;

// Paths
$image-path                : '../img';
$font-path                 : '../fonts';

// Fonts
$font-family-icons         : 'icons';
$font-family-default       : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-light         : 'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-bold          : 'Calibre Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-black         : 'Calibre Black', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-dots          : 'Codystar', 'Helvetica Neue', Helvetica, Arial, sans-serif;


.roboto {
	font-family: 'Roboto', sans-serif;
}
.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
.quicksand {
	font-family: 'Quicksand', sans-serif;
}
.pompiere {
	font-family: 'Pompiere', cursive;
}
.muli {
	font-family: 'Muli', sans-serif;
}
.codystar {
	font-family: 'Codystar', sans-serif;
}

// Animation
$anim-speed                : 0.3s;

// Breakpoints
$desktop-breakpoint-min: 980px;
$desktop-breakpoint-max: 9999px;
$desktop-width: 1260px;

$tablet-breakpoint-min: 540px;
$tablet-breakpoint-max: 979px;
$tablet-width: 540px;

$mobile-breakpoint-min:	1px;
$mobile-breakpoint-max: 539px;
$mobile-width: 320px;
