
// Header
// ---------------------------------------+
//

header {
	height: 60px;
	position: relative;
	text-align: center;

	@include breakpoint(mobile) {
		height: 80px;
	}

	.container {
		position: relative;
	}

	h1 {
		color: $blue;
		display: block;
		font-size: 60px;
		font-weight: 900;
		left: 50%;
		letter-spacing: -1.5px;
		line-height: 60px;
		margin: 0;
		mix-blend-mode: multiply;
		position: absolute;
		text-transform: uppercase;
		top: 0;
		transform: translateX(-50%);
		white-space: nowrap;

		@include breakpoint(tablet) {
			font-size: 45px;
		}

		@include breakpoint(mobile) {
			font-size: 30px;
			line-height: 40px;
			width: 100%;
		}

		span {
			color: $red;
			display: block;
			left: 5px;
			mix-blend-mode: multiply;
			position: absolute;
			top: 5px;
			width: 100%;

			@include breakpoint(tablet, mobile) {
				left: 3px;
				top: 3px;
			}
		}
	}

	ul {
		height: 24px;
		position: absolute;
		top: 18px;

		@include breakpoint(mobile) {
			top: 50px;
		}

		li {
			display: inline-block;
			height: 100%;
			vertical-align: middle;

			a {
				display: block;
				font-size: 14px;
				font-weight: 400;
				height: 100%;
				line-height: 24px;
				overflow: hidden;
				text-transform: uppercase;
				transition: all $anim-speed ease-out;
				width: 30px;

				&:before {
					opacity: 0.7;
					transition: all $anim-speed ease-out;
				}

				&:hover,
				&:focus {
					&:before {
						opacity: 1;
					}
				}

				&.about {
					margin-right: 10px;
					width: auto;

					&:before {
						display: none;
					}
				}
			}
		}

		&.nav {
			left: 15px;

			@include breakpoint(mobile) {
				left: auto;
				right: 50%;
			}
		}

		&.social {
			right: 15px;

			@include breakpoint(mobile) {
				left: 50%;
				right: auto;
			}

			li a {
				@include hide-text();
				height: 30px;
				position: relative;
				width: 30px;

				@include breakpoint(mobile) {
					height: 22px;
					width: 22px;
				}

				.icon {
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}
		}
	}
}
