
// Category Filters
// ---------------------------------------+
//

.nav-filter {
	@include clearfix();
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;

	&.nav-bottom {
		margin-bottom: 30px;
	}

	@include breakpoint(desktop) {
		padding: 20px 0;

		.nav-mobile {
			display: none;
		}

		.nav-desktop {
			display: flex;
			flex-wrap: wrap;

			> li {
				display: block;
				position: relative;
				width: calc(100% / 6);

				@include breakpoint(mobile) {
					width: 33%;
				}

				a {
					background: none;
					border-bottom: 1px dashed $grey;
					display: block;
					padding: 5px 0;
					position: relative;
					text-align: center;
					transition: all $anim-speed ease-out;

					&:hover,
					&:focus {
						background: $blue;
						color: $white;
					}

					&.active {
						background: $red;
						color: $white;
					}
				}

				ul {
					display: none;
					font-size: 16px;
					position: absolute;
					top: 100%;
					width: 100%;

					li {
						padding-left: 15%;

						a {
							background: rgba($white, 0);
							border-bottom: none;
							border-left: 1px dashed $grey;
							padding-left: 15px;
							text-align: left;

							&:before {
								border-top: 1px dashed $grey;
								content: '';
								display: block;
								height: 0;
								left: 0;
								position: absolute;
								top: 50%;
								width: 10px;
							}
						}
					}
				}

				&:hover {
					ul {
						display: block;
					}
				}
			}
		}

		&.nav-bottom {
			ul li a {
				border-bottom: none;
				border-top: 1px dashed $grey;
			}
			.nav-desktop > li ul {
				bottom: 100%;
				top: auto;

				a {
					border-top: none;
				}
			}
		}
	}

	@include breakpoint(tablet, mobile) {
		border-top: 1px dashed $grey;
		padding: 15px 0;

		&.nav-bottom {
			margin-top: 10px;
		}

		.nav-desktop {
			display: none;
		}

		.nav-mobile {
			background: $red;
			border: none;
			border-radius: 0;
			color: $white;
			display: inline-block;
			font-family: $font-family-default;
			font-size: 16px;
			margin: auto;
			position: relative;
			width: 50%;

			&:before {
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 10px solid $white;
				content: '';
				height: 0;
				position: absolute;
				right: 10px;
				top: calc(50% - 5px);
				width: 0;
			}

			label {
				@include offscreen();
			}

			select {
				appearance: none;
				background: none;
				border: none;
				border-radius: 0;
				color: $white;
				display: inline-block;
				font-family: $font-family-default;
				font-size: 16px;
				margin: auto;
				padding: 5px 10px;
				position: relative;
				width: 100%;
			}
		}
	}
}
